$bg-dark-grey: #dadde1;
$bg-light-grey1: #e0e0e0;
$bg-light-grey2: #e7e7e7;
$bg-light-grey3: #efefef;
$bg-light-grey4: #f3f3f3;
$bg-light-grey5: #f9f9f9;
$color-drak-grey: #a1aebf;
$border-dark-grey: #a1aebf;
$blue-gradient-theme: linear-gradient(90deg, #6484ef 0%, #5ab6f0 100%);
$color-white: #fff;
