@import "../../../shared/styles/variables";

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 4rem 6rem;
  &__detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    span,
    p {
      color: $text-dark-grey;
      margin: 4px 0;
    }
    &--info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: start;
      max-width: 20%;
      cursor: pointer;
      strong:first-of-type,
      p:first-of-type {
        margin-bottom: 1.5rem;
      }
      strong {
        color: $color-blue;
      }
    }
    &--compony-name {
      color: $text-color-black !important;
      font-size: 24px;
    }
    &--input {
      div {
        display: flex;
        gap: 1rem;

        .MuiOutlinedInput-notchedOutline {
          border-color: $color-blue;
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 1px;
    background: $blue-gradient-theme;
    margin: 2rem 0;
  }
  &__contact {
    display: flex;
    justify-content: space-between;
    strong a {
      text-decoration: none;
      color: $text-color-black;
    }
    &--detail {
      display: flex;
      gap: 1rem;
      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        span {
          color: $text-dark-grey;
        }
      }
    }
  }
}
