.lv-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &__video {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: fill;
    video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__heading {
    color: #ffffff;
    position: absolute;
    font-family:Poppins,sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    h4 {
      color: #CBCBCB;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin-top: 28px;
    }
    &--boost-icon {
      fill: rgb(255, 255, 255);
      animation: scaleAnimation 2s ease-in-out infinite;
      padding-top: 4px;
      svg {
        font-size: 72px;
      }
    }
    &--contact-btn{
      margin-top: 24px;
    }
    div {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      h1 {
        font-size: 74px;
      line-height: 74px;
      }
    }
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
// .content {
//   position: relative;
//   z-index: 1;
//   padding: 20px;
//   text-align: center;
//   color: #fff;
//   font-family: Arial, sans-serif;
//   background-color: rgba(0, 0, 0, 0.7);
// }

// .lines-container {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }

// .vertical-line,
// .horizontal-line {
//   position: absolute;
//   background: linear-gradient(to right, #000 50%, transparent 50%),
//     linear-gradient(to bottom, #000 50%, transparent 50%);
//   background-size: 10px 100%, 100% 10px;
//   background-position: -5px 0, 0 -5px;
//   background-repeat: repeat-x, repeat-y;
// }

// .vertical-line {
//   top: 0;
//   bottom: 0;
//   width: 10px;
//   left: calc(50% - 5px);
// }

// .horizontal-line {
//   left: 0;
//   right: 0;
//   height: 10px;
//   top: calc(50% - 5px);
// }
